body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none!important;
  color: black!important;
  
}
.add {
  width: 150px!important;
  margin-bottom: 5px;
  color: #fff !important;
}

.theXe .card {
  border: none;
}

.theXe .card-title {
  color: red;
}
.theXe .card-text  {
  color: #212121;
}
.navbar{
  flex-direction: row!important;
}